{% for message in app.flashes('success') %}
    <div class="xs:w-4/5 sm:w-1/5 bg-green-100 border-l-4 border-green-500 text-green-700 m-4 p-4 rounded-md transition ease-in duration-1000 opacity-0" role="alert" id="alert">
        <p class="font-bold">Success !</p>
        <p>{{ message }}</p>
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="xs:w-4/5 sm:w-1/5 bg-yellow-100 border-l-4 border-yellow-100-500 text-yellow-700 m-4 p-4 rounded-md transition ease-in duration-1000 opacity-0" role="alert" id="alert">
        <p class="font-bold">Warning !</p>
        <p>{{ message }}</p>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="xs:w-4/5 sm:w-1/5 bg-red-100 border-l-4 border-red-100-500 text-red-700 m-4 p-4 rounded-md transition ease-in duration-1000 opacity-0" role="alert" id="alert">
        <p class="font-bold">Error !</p>
        <p>{{ message }}</p>
    </div>
{% endfor %}
