<footer class="text-center w-full bottom-0 p-6 bg-white border-t-2 shadow-lg">
    <p>© 2021 - <a href="https://geoffroydutot.fr" target="_blank" rel="noopener noreferrer">Geoffroy DUTOT</a></p>
</footer>
