<footer class="text-center text-gray-400 border-solid border-t-2 border-gray-400 border-opacity-75 p-4">
    <p>© 2021 - <a href="https://geoffroydutot.fr" target="_blank" rel="noopener noreferrer">Geoffroy DUTOT</a></p>
</footer>
