{% apply inline_css %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Snowtricks - Reset password{% endblock %}</title>
    <!-- Tailwindcss -->
    <style>
        #main {
            background-color: rgba(243, 244, 246, 1);
            font: caption;
            font-size: 1.25rem;
        }
        #trick-container {
            width: 75%;
            margin: 2.5rem auto;
            border-color: rgba(243, 244, 246, 1);
            border-radius: 1rem;
            overflow: hidden;
            background: #ffffff;
            padding: 1rem 1.5rem;
            line-height: 1.75rem;
        }
        #contact {
            font-style: italic;
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
        h1 {
            --tw-text-opacity: 1;
            color: rgba(16,185,129,var(--tw-text-opacity));
            text-align: center;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        a {
            text-decoration: none;
            color: #5eb5e0;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body id="main">
    <div id="trick-container">
        {% block body %}
            <h1>Reset your password</h1>
            <p>Hello {{ user.username }}, you have just tried to reset your password of Snowtricks account</p>
            <p>Here is your <a href="{{ url }}">link</a> to reset your password :</p>
            <p id="contact">If you doesn't asked for this <a href="mailto:{{ emailContact }}">contact us</a>.</p>
        {% endblock %}
    </div>
</body>
</html>
{% endapply %}
